# 第3章 Pandas資料結構
## Series資料結構

In [2]:
# 傳入一個列表
import pandas as pd
S1 = pd.Series(["a","b","c","d"])
S1

0    a
1    b
2    c
3    d
dtype: object

In [3]:
# 指定索引
S2 = pd.Series([1,2,3,4],index = ["a","b","c","d"])
S2

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
# 傳入一個字典
S3 = pd.Series({"a":1,"b":2,"c":3,"d":4})
S3

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
# 利用index方法取得Series的索引
S1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
S2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
# 利用values方法取得Series的值
S1.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [8]:
S2.values

array([1, 2, 3, 4], dtype=int64)

## DataFrame 表格型資料結構

In [9]:
# 傳入一個列表
import pandas as pd
df1 = pd.DataFrame(["a","b","c","d"])
df1

   0
0  a
1  b
2  c
3  d

In [10]:
# 傳入一個嵌套列表
import pandas as pd
df2 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]])
df2

   0  1
0  a  A
1  b  B
2  c  C
3  d  D

In [11]:
#設定欄索引
df31 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]], columns = ["小寫","大寫"])
df31

  小寫 大寫
0  a  A
1  b  B
2  c  C
3  d  D

In [12]:
#設定列索引
df32 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]], index = ["一","二","三","四"])
df32

   0  1
一  a  A
二  b  B
三  c  C
四  d  D

In [13]:
#列、欄索引同時設定
df33 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]], columns = ["小寫","大寫"], index = ["一","二","三","四"])
df33

  小寫 大寫
一  a  A
二  b  B
三  c  C
四  d  D

In [14]:
#傳入一個字典
data = {"小寫":["a","b","c","d"],"大寫":["A","B","C","D"]}
df41 = pd.DataFrame(data)
df41

  小寫 大寫
0  a  A
1  b  B
2  c  C
3  d  D

In [15]:
data = {"小寫":["a","b","c","d"],"大寫":["A","B","C","D"]}
df42 = pd.DataFrame(data,index = ["一","二","三","四"])
df42

  小寫 大寫
一  a  A
二  b  B
三  c  C
四  d  D

In [16]:
#利用columns方法取得DataFrame的欄索引
df2.columns

RangeIndex(start=0, stop=2, step=1)

In [17]:
df33.columns

Index(['小寫', '大寫'], dtype='object')

In [18]:
#利用index方法取得DataFrame的列索引
df2.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
df33.index

Index(['一', '二', '三', '四'], dtype='object')